.load{
  margin: 0;
  position: fixed;
  z-index: 11 !important;
  background-color: black;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
}

.load .circle{
  width: 50px;
height: 50px;
border: 3px solid #f3f3f3;
border-top: 3px solid #f25a4100;
border-radius: 100%;
position: absolute;
top:0;
bottom:0;
left:0;
right: 0;
margin: auto;
  
animation: spin 1s infinite linear;
  
}

@keyframes spin {
from{
  transform: rotate(0deg);
      }
      to
      {
    transform: rotate(360deg); opacity:0;
  }
}


h1 {
  text-align: center;
  margin-bottom: 40px !important;
  padding-top: 20px ;
}

table>thead {
  background-color: #333A40;
  color: white;
}

a>button {
  margin-bottom: 15px;
}

tbody, table>thead{
  vertical-align: middle !important;
}

i, .list-inline-item>button>i{
  font-size: 14px;
}

.form-group>label>span{
  color: red;
}

#validate{
  color: red;
  text-align: center;
}

.form-group{
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group>.text-center>a>button{
  margin-bottom: 0px;
}

@media (max-width: 996px){
  .name{
      width: 120px;
  }
}

@media (max-width: 768px){
  .container{
      padding: 0;
  }

  .name{
      width: 90px;
  }

  .email{
      width: 100px;
  }

  .res{
      display: none;
  }

  .phone{
      width: 80px;
  }
}

@media (max-width: 554px){
  .list-inline-item:not(:last-child){
      margin-right: 0;
  }
}